<%- include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/css/index-style.css">
<link href="https://fonts.googleapis.com/css?family=Bevan&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<% if(isLoggedIn) { %>
    <%- include partials/navbar-loged.ejs %>
<% } else { %>
    <%- include partials/navbar.ejs %>
<% } %>



<div class="base-container">

    <%- include partials/sidebar.ejs %>

    <div class="content">
        <p class="title-content">Género: </p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% mediaData.forEach(media =>{ %>
                <a href="/media/show/<%= media.id %>" class="movie-item">
                    <img src="<%= media.poster %>">
                    <i class="far fa-heart icon-fav"></i>

                    <!--<i class="fas fa-heart icon-fav"></i>-->

                    <div class="movie-item-text-container">
                        <p class="movie-item-text"><%= media.title %><br> <%= media.release_date.getFullYear() %></p>
                    </div>
                </a>
            <% }) %>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>
    </div>
</div>


<div class="information-container">

</div>


<%- include partials/footerBar.ejs %>
<%- include partials/footer.ejs %>
