<%- include partials/header.ejs %>
<link rel="stylesheet" href="/css/index-style.css">
<link rel="stylesheet" href="/css/fav-style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


<%- include partials/navbar-loged.ejs %>

<div class="text-container">
    <p><%= title %></p>
</div>
<div class="search-movies-container">

    <% media.forEach(media => { %>
        <div class="movie-item <%= mediaType %>" id="<%= media.id %>">
            <img src="<%= media.poster %>">
            <%
                let isFavorite = 'far';
                favoriteMedia.forEach(favorite => {
                    if (favorite.id === media.id) {
                        isFavorite = 'fas'
                    }
                })
            %>

            <i class="<%= isFavorite %> fa-heart icon-fav"></i>

            <%
                let isWatched = 'far';
                listMedia.forEach(list => {
                    if (list['movie_id'] === media.id || list['show_id'] === media.id) {
                        isWatched = 'fas'
                    }
                })
            %>

            <i class="<%= isWatched %> fa-clock icon-fav icon-time"></i>

            <a href="/media/<%= mediaType + '/' + media.id %>" class="movie-item-text-container">
                <p class="movie-item-text"><%= media.title %></p>
            </a>
        </div>

    <% }) %>

</div>

<script src="/js/likeButton.js"></script>
<script src="/js/watchedButton.js"></script>
<%- include partials/footer.ejs %>
