<%- include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="css/index-style.css">
<link href="https://fonts.googleapis.com/css?family=Bevan&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<% if(isLoggedIn) { %>
    <%- include partials/navbar-loged.ejs %>
<% } else { %>
    <%- include partials/navbar.ejs %>
<% } %>


<div class="base-container">

    <%- include partials/sidebar.ejs %>

    <div class="content">
        <p class="title-content">Series:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% showData.forEach(show =>{ %>
                <div class="movie-item show" id="<%= show.id %>">
                    <img src="<%= show.poster %>">

                    <%
                        let isFavorite = 'far';
                        favoriteShows.forEach(favorite => {
                            if (favorite.id === show.id) {
                                isFavorite = 'fas'
                            }
                        })
                    %>

                    <i class="<%= isFavorite %> fa-heart icon-fav"></i>

                    <a href="/media/show/<%= show.id %>" class="movie-item-text-container">
                        <p class="movie-item-text"><%= show.title %><br> <%= show.release_date.getFullYear() %></p>
                    </a>
                </div>
            <% }) %>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>


        <p class="title-content">Tendencias:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% movieData.forEach(movie =>{ %>
                <div class="movie-item">
                    <img src="<%= movie.poster %>">
                    <% if(isLoggedIn) { %>
                        <%
                        favoriteMovies.forEach(favorite =>{
                        if(favorite.id === movie.id) {
                        %>
                            <i class="fas fa-heart icon-fav"></i>
                        <% } else { %>
                            <i class="far fa-heart icon-fav"></i>
                        <% }}) %>
                    <% } %>
                    <a href="/media/movie/<%= movie.id %>" class="movie-item-text-container">
                        <p class="movie-item-text"><%= movie.title %><br> <%= movie.release_date.getFullYear() %></p>
                    </a>
                </div>
            <% }) %>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>


        <p class="title-content">Tendencias:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% movieData.forEach(movie =>{ %>
                <div class="movie-item">
                    <img src="<%= movie.poster %>">

                    <% if(isLoggedIn) { %>
                        <%
                        favoriteMovies.forEach(favorite =>{
                        if(favorite.id === movie.id) {
                        %>
                            <i class="fas fa-heart icon-fav"></i>
                        <% } else { %>
                            <i class="far fa-heart icon-fav"></i>
                        <% }}) %>
                    <% } %>
                    <a href="/media/movie/<%= movie.id %>" class="movie-item-text-container">
                        <p class="movie-item-text"><%= movie.title %><br> <%= movie.release_date.getFullYear() %></p>
                    </a>
                </div>
            <% }) %>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>

    </div>
</div>


<div class="information-container">

</div>


<!--<script>-->
<!--const hearts = document.querySelectorAll('.fa-heart')-->

<!--hearts.forEach(heart => heart.querySelector('click', e => console.log(' bla')))-->
<!--</script>-->

<script src="js/likeButton.js"></script>
<%- include partials/footerBar.ejs %>
<%- include partials/footer.ejs %>
