<%- include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="css/index-style.css">

<%- include partials/navbar.ejs %>


<div class="base-container">
    <div class="panel">
        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Categorias:</a>
            <div class="panel-content">
                <ul>
                    <li><a>Películas actuales</a></li>
                    <li><a>Películas antiguas</a></li>
                    <li><a>Estrenos</a></li>
                    <li><a>Clásicos</a></li>
                    <li><a>Accion</a></li>
                    <li><a>Superhéroes</a></li>
                    <li><a>Aventuras</a></li>
                    <li><a>Comedias</a></li>
                    <li><a>Drama</a></li>
                    <li><a>Terror</a></li>
                    <li><a>Suspenso</a></li>
                    <li><a>Musicales</a></li>
                    <li><a>Ciencia Ficción</a></li>
                    <li><a>Guerra</a></li>
                    <li><a>Crimen</a></li>
                    <li><a>Infantiles</a></li>
                    <li><a>Adultos</a></li>
                </ul>
            </div>
        </div>
        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Edad:</a>
            <div class="panel-content">
                <ul>
                    <li><a>6 años</a></li>
                    <li><a>12 años</a></li>
                    <li><a>16 años</a></li>
                    <li><a>18 años</a></li>
                    <li><a>21 años</a></li>
                </ul>
            </div>
        </div>


        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Clasificacion:</a>
            <div class="panel-content">
                <ul>
                    <% for(let i = 0; i < 5; i++){ %>
                        <div class="panel-items-clas">
                            <a href="#">
                                <% for(let j = i; j < 5; j++) { %>
                                    <img src="media/icons/Recurso%201.png">
                                <% } %>
                            </a>
                        </div>
                    <% } %>
                </ul>
            </div>
        </div>


        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Año:</a>
            <div class="panel-content">
                <ul>
                    <li><a>2010-Actualidad</a></li>
                    <li><a>2000-2010</a></li>
                    <li><a>1990-2000</a></li>
                </ul>
            </div>
        </div>
    </div>



    <div class="content">
        <p class="title-content">Series:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% showData.forEach(show =>{ %>
                <a href="/media/show/<%= show.id %>" class="movie-item">
                    <img src="<%= show.poster %>">
                    <p class="movie-item-text"><%= show.title %><br> <%= show.release_date.getFullYear() %></p>
                </a>
            <% }) %>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>


        <p class="title-content">Tendencias:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% movieData.forEach(movie =>{ %>
                <a href="/media/movie/<%= movie.id %>" class="movie-item">
                    <img src="<%= movie.poster %>">
                    <p class="movie-item-text"><%= movie.title %><br> <%= movie.release_date.getFullYear() %></p>
                </a>
            <% }) %>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>


        <p class="title-content">Tendencias:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% movieData.forEach(movie =>{ %>
                <a href="/media/movie/<%= movie.id %>" class="movie-item">
                    <img src="<%= movie.poster %>">
                    <p class="movie-item-text"><%= movie.title %><br> <%= movie.release_date.getFullYear() %></p>
                </a>
            <% }) %>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>

    </div>
</div>
<div class="information-container">

</div>

<%- include partials/footerBar.ejs %>
<%- include partials/footer.ejs %>
