<!DOCTYPE html>
<html lang="es">
<head>
    <title>In The Movies</title>
    <link rel="stylesheet" type="text/css" href="css/index-style.css">
    <link rel="stylesheet" type="text/css" href="css/basic-style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' type='text/css'>
</head>


<body>
<header>
    <a href="index.html" class="header-logo"><img src="media/icons/Recurso%204.png"></a>
    <input class="header-search" type="search" placeholder="Buscar...">
    <a href="#" class="header-search-icon">
        <img src="media/icons/baseline_search_white_18dp.png">
    </a>
    <div class="buttons-family">
        <a href="/auth/login" class="header-button">Iniciar Sesión</a>
        <div class="ln-v"></div>
        <a href="register.html" class="header-button">Regitrarse</a>
    </div>
</header>
<div class="base-container">
    <div class="panel">
        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Categorias:</a>
            <div class="panel-content">
                <ul>
                    <li><a>Películas actuales</a></li>
                    <li><a>Películas antiguas</a></li>
                    <li><a>Estrenos</a></li>
                    <li><a>Clásicos</a></li>
                    <li><a>Accion</a></li>
                    <li><a>Superhéroes</a></li>
                    <li><a>Aventuras</a></li>
                    <li><a>Comedias</a></li>
                    <li><a>Drama</a></li>
                    <li><a>Terror</a></li>
                    <li><a>Suspenso</a></li>
                    <li><a>Musicales</a></li>
                    <li><a>Ciencia Ficción</a></li>
                    <li><a>Guerra</a></li>
                    <li><a>Crimen</a></li>
                    <li><a>Infantiles</a></li>
                    <li><a>Adultos</a></li>
                </ul>
            </div>
        </div>
        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Edad:</a>
            <div class="panel-content">
                <ul>
                    <li><a>6 años</a></li>
                    <li><a>12 años</a></li>
                    <li><a>16 años</a></li>
                    <li><a>18 años</a></li>
                    <li><a>21 años</a></li>
                </ul>
            </div>
        </div>
        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Clasificacion:</a>
            <div class="panel-content">
                <ul>
                    <div class="panel-items-clas">
                        <a href="#">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                        </a>
                    </div>
                    <div class="panel-items-clas">
                        <a href="#">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                        </a>
                    </div>
                    <div class="panel-items-clas">
                        <a href="#">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                        </a>
                    </div>
                    <div class="panel-items-clas">
                        <a href="#">
                            <img src="media/icons/Recurso%201.png">
                            <img src="media/icons/Recurso%201.png">
                        </a>
                    </div>
                    <div class="panel-items-clas">
                        <a href="#">
                            <img src="media/icons/Recurso%201.png">
                        </a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="ln-h"></div>
        <div class="panel-items-container">
            <a class="panel-button">Año:</a>
            <div class="panel-content">
                <ul>
                    <li><a>2010-Actualidad</a></li>
                    <li><a>2000-2010</a></li>
                    <li><a>1990-2000</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <p class="title-content">Series:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <% showData.forEach(show =>{ %>
                <a href="/media/show/<%= show.id %>" class="movie-item">
                    <img src="<%= show.poster %>">
                    <p class="movie-item-text"><%= show.title %><br> <%= show.release_date.getFullYear() %></p>
                </a>
            <% }) %>

            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>


        <p class="title-content">Tendencias:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>

            <% movieData.forEach(movie =>{ %>
                <a href="/media/movie/<%= movie.id %>" class="movie-item">
                    <img src="<%= movie.poster %>">
                    <p class="movie-item-text"><%= movie.title %><br> <%= movie.release_date.getFullYear() %></p>
                </a>
            <% }) %>

            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>


        <p class="title-content">Tendencias:</p>
        <div class="movies-container">
            <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/movie1.jpg">
                <p class="movie-item-text">Forrest Gump <br> 1994</p>
            </a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/movie2.jpg">
                <p class="movie-item-text">Dunkirk <br> 2017</p>
            </a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/movie3.jpg">
                <p class="movie-item-text">Pulp Fiction <br> 1994</p>
            </a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/show1.jpg">
                <p class="movie-item-text">Games Of Thrones <br> 2011</p>
            </a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/movie1.jpg">
                <p class="movie-item-text">Forrest Gump <br> 1994</p>
            </a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/movie2.jpg">
                <p class="movie-item-text">Dunkirk <br> 2017</p>
            </a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/movie3.jpg">
                <p class="movie-item-text">Pulp Fiction <br> 1994</p>
            </a>
            <a href="movie.html" class="movie-item">
                <img src="media/img/show1.jpg">
                <p class="movie-item-text">Games Of Thrones <br> 2011</p>
            </a>
            <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
        </div>
    </div>
</div>
<div class="information-container">

</div>
<footer>
    <p class="footer-text">2019 - Todos los derechos reservados - In The Movies</p>
</footer>
</body>
</html>
