<%- include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/css/movie-style.css">
<link rel="stylesheet" type="text/css" href="/css/index-style.css">

<%- include partials/navbar.ejs %>

<div class="movie-container">
    <div class="movie-picture">
        <center>
            <img class="movie-img" src="<%= media.poster %>" alt="movie">
        </center>
    </div>
    <div class="movie-content">
        <p class="movie-title"><%= media.title %></p>
        <div class="ln-h"></div>
        <p class="movie-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam tempora corrupti rerum enim ad dolores, deserunt voluptate voluptatem recusandae hic, iure quis consequatur fuga, expedita delectus, maxime optio distinctio sed.</p>
        <div class="details-container">
            <div class="box-button">
                <div class="button">Lenguaje:</div>
                <div class="button-info">
                    <p><%= media.language.toUpperCase() %></p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Direccion:</div>
                <div class="button-info">
                    <p>Anthony Russo, Joe Russo</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Produccion:</div>
                <div class="button-info">
                    <p>Kevin Feige</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Guion:</div>
                <div class="button-info">
                    <p>Christopher Markus</p>
                    <p>Stephen McFeely</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Música:</div>
                <div class="button-info">
                    <p>Alan Silvestri</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Fotografía:</div>
                <div class="button-info">
                    <p>Trent Opaloch</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Montaje:</div>
                <div class="button-info">
                    <p>Jeffrey Ford</p>
                    <p>Matthew Schmidt</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Vestuario:</div>
                <div class="button-info">
                    <p>Judianna Makovsky</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Protagonistas:</div>
                <div class="button-info">
                    <p>Robert Downey Jr.</p>
                    <p>Chris Evans</p>
                    <p>Mark Ruffalo</p>
                    <p>Chris Hemsworth</p>
                    <p>Scarlett Johansson</p>
                    <p>Jeremy Renner</p>
                    <p>Don Cheadle</p>
                    <p>Paul Rudd</p>
                    <p>Brie Larson</p>
                    <p>Karen Gillan</p>
                    <p>Bradley Cooper</p>
                    <p>Gwyneth Paltrow</p>
                    <p>Josh Brolin</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">País:</div>
                <div class="button-info">
                    <p>EEUU</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Año:</div>
                <div class="button-info">
                    <p>2019</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Estreno:</div>
                <div class="button-info">
                    <p>22 de abril de 2019 (Los Ángeles)</p>
                    <p>26 de abril de 2019 (Estados Unidos)</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Genero:</div>
                <div class="button-info">
                    <p>Superhéroes</p>
                    <p>Acción</p>
                    <p>Ciencia ficción</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Duración:</div>
                <div class="button-info">
                    <p>181 minutos</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Clasificacion:</div>
                <div class="button-info">
                    <p>PG-13</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Idiomas:</div>
                <div class="button-info">
                    <p>Inglés</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Productora:</div>
                <div class="button-info">
                    <p>Marvel Studios</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Distribución:</div>
                <div class="button-info">
                    <p>Walt Disney Studios Motion Pictures</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <p class="title-content">Sugerencias:</p>
    <div class="movies-container">
        <a class="movies-move-icon"><img src="media/icons/Recurso%203.png"></a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/movie1.jpg">
            <p class="movie-item-text">Forrest Gump <br> 1994</p>
        </a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/movie2.jpg">
            <p class="movie-item-text">Dunkirk <br> 2017</p>
        </a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/movie3.jpg">
            <p class="movie-item-text">Pulp Fiction <br> 1994</p>
        </a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/show1.jpg">
            <p class="movie-item-text">Games Of Thrones <br> 2011</p>
        </a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/movie1.jpg">
            <p class="movie-item-text">Forrest Gump <br> 1994</p>
        </a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/movie2.jpg">
            <p class="movie-item-text">Dunkirk <br> 2017</p>
        </a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/movie3.jpg">
            <p class="movie-item-text">Pulp Fiction <br> 1994</p>
        </a>
        <a href="movie.html" class="movie-item">
            <img src="media/img/show1.jpg">
            <p class="movie-item-text">Games Of Thrones <br> 2011</p>
        </a>
        <a class="movies-move-icon"><img src="media/icons/Recurso%202.png"></a>
    </div>
</div>

<%- include partials/footer.ejs %>


<script>
    var coll = document.getElementsByClassName("button");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

</script>
