<!DOCTYPE html>
<%- include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/css/movie-style.css">
<link rel="stylesheet" type="text/css" href="/css/index-style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<%- include partials/navbar-loged.ejs %>

<div class="movie-container">
    <div class="movie-picture">
        <img class="movie-img" src="<%= media.poster %>" alt="movie"
             style="height: 90%; width: auto; margin-left: 190px; margin-top: 30px;">
    </div>
    <div class="movie-content">
        <p class="movie-title"><%= media.title %></p>
        <div class="ln-h"></div>
        <!--<p class="movie-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam tempora corrupti-->
        <!--rerum enim ad dolores, deserunt voluptate voluptatem recusandae hic, iure quis consequatur fuga, expedita-->
        <!--delectus, maxime optio distinctio sed.</p>-->
        <div class="details-container">
            <div class="box-button">
                <div class="button">Lenguaje:</div>
                <div class="button-info">
                    <p><%= media.language.toUpperCase() %></p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Directores:</div>
                <div class="button-info">
                    <p>Anthony Russo</p>
                    <p>Joe Russo</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Actores:</div>
                <div class="button-info">
                    <p>Kevin Feige</p>
                </div>
            </div>
            <div class="box-button">
                <div class="button">Rating: <%= media.vote_average %></div>
                <div class="button-info">
                    <p></p>
                </div>
            </div>
        </div>

        <%
        let isFavorite = 'far';
        favoriteMedia.forEach(favorite => {
            if (favorite.id === media.id) {
                isFavorite = 'fas'
            }
        })

        let isWatched = 'far';
        listMedia.forEach(list => {
            if (list['movie_id'] === media.id || list['show_id'] === media.id) {
                isWatched = 'fas'
            }
        })
        %>

        <div class="icon-fav-movie <%= mediaType %>" id="<%= media.id %>">
            <i class="<%= isFavorite %> fa-heart fa-2x"></i>
        </div>
        <div class="icon-time-movie <%= mediaType %>" id="<%= media.id %>">
            <i class="<%= isWatched %> fa-clock fa-2x"></i>
        </div>
    </div>
</div>
<div class="content">
    <p class="title-content">Sugerencias:</p>
    <div class="movies-container">
        <% trending.forEach(media => { %>
            <a href="/media/show/<%= media.id %>" class="movie-item">
                <img src="<%= media.poster %>">
                <p class="movie-item-text"><%= media.title %><br><%= media.release_date.getFullYear() %></p>
            </a>
        <% }) %>
    </div>
</div>

<%- include partials/footer.ejs %>

<script src="/js/likeButton.js"></script>
<script src="/js/watchedButton.js"></script>

<script>
    var coll = document.getElementsByClassName("button");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
